{% extends "base.html" %}
{% block content %}
<div class="mask rgba-black-light align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s">
                        <strong>Welcome</strong></h1>
                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                        <strong>Your Personal Habit Tracker</strong></h5>
                      <a href="/login"><button type="button" class="btn btn-outline-dark">Login</button></a>
                       <a href="/register"><button type="button" class="btn btn-outline-dark">Register</button></a>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
   <div class="container">
       <div class="row">

           <div class="col-sm-6"></div>
       </div>
       <div class="row">

           <div class="col-sm-6"></div>
       </div>

   </div>



{% endblock %}
